# Compiled class file
*.class

# Log file
*.log

# Arquivos de IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/
bin/

# Arquivos do Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Arquivos de build
build/
out/
dist/

# Arquivos de sistemas operacionais
.DS_Store
Thumbs.db

# Arquivos de dependências
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Arquivos temporários
*.tmp
*.bak
*.swp
*~.nib

# Logs de erro
hs_err_pid*
replay_pid*